/* .col-fixed-800{
    width:250px;
    background: gray;
    position:fixed;
    height:450px;
    z-index:1;
} */


.col-fixed-800{
    float: left;
    background: #EBE8E8;
    width: 800px; 
    height: 450px;
    z-index:1;
}

.col-fixed-h450{
    padding-left: 50px;
    background: #9E9090;
    height: 450px;
}

/* .drawing {
    width: 100%;
    height: 100%;
} */

.drawingContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 }

 .toolBar{
    position: absolute;
    width: auto;
    height: 50px;
    z-index: 1;
 }